.chat{
  width: 35.5%;
  height: calc( 100vh - 100px);
  border: 1px solid;
  margin: 30px auto;
}

.chat-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.chatTop{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chatTopLive{
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.liveText{
  font-weight: bolder;
  margin-left: 20px;
}
.badge{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
}
.chatBottom{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.inputChat{
  width: 85%;
  outline: none;
  padding: 5px;
}
.chatBtn{
  width: 50px;
  padding: 10px 5px;
  background-color: teal;
  color: #fff;
  border: none;
  cursor: pointer;
}